.header {
    background: #000;
    height: 60px;
}

.header__item {
    display: flex;
}

.header__item-logo {
    width: 25%;
    padding: 1%;
    margin-left: 2%;
}

.header__item-logo--img {
    width: 100%;
}

.header__item-search {
    width: 42%;
    margin-left: 4%;
    padding: 0.5%;
}

.header__item-search--input {
    width: 100%;
    height: 45px;
    padding: 5px 0 5px 30px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}

.header__item-logout {
    width: 10%;
    padding: 1%;
    text-align: right;
    margin-top: 0.1%;
}

.logout-form__button {
    color: #fff;
    border: none;
    background-color: #000;
    font-size: 18px;
}

.header__item-mypage {
    width: 8%;
    padding: 1%;
    text-align: right;
    margin-top: 0.1%;
}

.mypage-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.header__item-sell {
    width: 8%;
    padding: 1%;
    margin-top: 0.1%;
}

.sell-button {
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.header__item-login {
    width: 8%;
    padding: 1%;
    text-align: right;
    margin-top: 0.1%;
}

.login-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}