.tabs{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 80px;
    padding: 50px 0 10px 200px;
}

.tab-button {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-right: 70px;
    font-weight: bold;
}

.tab-button.is-active {
    color: #ee5550;
}

.item{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 25px;
}

.tab-content{
    text-decoration: none;
}

.tab-content__item-list{
    list-style-type: none;
}

.tab-content__item-img{
    width: 300px;
    height: 300px;
    margin: 0 25px;
}

.tab-content__item-name{
    margin: 5px 25px 20px 25px;
    text-decoration: none;
    color: #000;
}