.header {
    background: #000;
}

.header__item {
    padding: 1%;
    display: flex;
}

.header__item-logo {
    width: 20%;
}

.header-logo {
    width: 100%;
}

.header__item-logout {}

.logout-form {}

.logout-form__button {
    color: #fff;
    border: none;
    background-color: #000;
}

.header__item-mypage {}

.mypage-button {
    color: #fff;
    text-decoration: none;
}

.header__item-sell {}

.sell-button {
    color: #000;
    background-color: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}