.item {
    width: 100%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
}

.item__img {
    width: 50%;
    margin-top: 20px;
}

.item__img-visual{
    width: 550px;
    height: 550px;
}

.item__info {
    width: 50%;
    padding: 0 20px;
}

.item__info-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.item__info-brand-name {
    margin: 0;
    font-size: 20px;
}

.item__info-price {
    margin: 20px 0 10px 0;
    font-size: 28px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.item__info-price .currency-symbol {
    font-size: 20px;
    vertical-align: middle;
}

.item__info-price .tax-info {
    font-size: 20px;
    color: #555;
}

.item__actions {
    display: flex;
    margin: 0;
}

.item__action--like{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like-button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.like-icon{
    width: 35px;
    height: 35px;
}

.item__action--comment{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-icon{
    width: 35px;
    height: 35px;
}

.item__purchase{
    width: 80%;
}

.item__purchase-button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #ee5550;
    color: #fff;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 20px 0;
}

.item__details{
    margin-top: 40px;
}

.item__details-title{
    font-size: 24px;
    margin-bottom: 10px;
}

.item__details-description{
    margin: 30px 0;
    padding: 0;
    white-space: pre-wrap;
    text-align: left;
}

.item__details-content{
    display: flex;
    margin: 20px 0;
}

.item__details-content--title{
    font-weight: bold;
    margin-right: 60px;
}

.item__details-content--categories{
    margin: 0;
}

.category-tag {
    color: #000000;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 20px;
    display: inline-block;
}

.item__details-content--condition{
    margin: 0;
}

.item__comments{
}

.item__comments-header{
    margin: 50px 0 20px 0;
}

.item__comments-header--inner{
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
}

.item__comments-latest{
    margin-bottom: 40px;
}

.item__comments-latest--inner{

}

.comment-user-info{
}

.comment-user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-username{
    font-weight: bold;
    margin-left: 10px;
}

.comment-body{
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.form__comment{
    width: 100%;
}

.form__comment-title{
    margin: 0;
}

.form__comment-textarea{
    width: 100%;
    height: 200px;
}

.form__comment-button{
    background-color: #ee5550;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.form__comment-error{
    color: red;
}