.form__inner{
    width: 45%;
    margin: 0 auto;
}

.form__inner-header{
    text-align: center;
    margin-bottom: 80px;
}

.form__inner-header--title{
    font-size: 32px;
}

.form__inner-item{
    width: 100%;
    margin-top: 50px;
}

.form__inner-item--title{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.form__inner-item--input{
    width: 100%;
    height: 35px;
}

.form__button{
    width: 100%;
    margin-top: 100px;
}

.form__button-submit{
    width: 100%;
    height: 40px;
    background-color: #ee5550;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    margin-bottom: 100px;
}

.error-message{
    color: red;
}

@media screen and (max-width: 480px) {
    .form__inner {
        width: 60%;
    }

    .form__inner-header {
        margin: 30px 0 40px 0;
    }

    .form__inner-header--title {
        font-size: 24px;
    }

    .form__inner-item--title {
        font-size: 14px;
    }

    .form__inner-item--input {
        font-size: 10px;
    }

    .form__button {
        margin-top: 80px;
    }
}