.header {
    background: #000;
}

.header__inner {
    padding: 1%;
}

.header__inner-logo {
    width: 20%;
}

.main {
    width: 100%;
}

.main__inner {
    width: 50%;
    margin: 0 auto;
}

.form__title {
    text-align: center;
    font-size: 32px;
    margin-top: 20%;
}

.form__item {
    margin-bottom: 5%;
    ;
}

.form__item-title {
    font-size: 20px;
    font-weight: bold;
}

.form__item-input {
    width: 100%;
    height: 40px;
}

.form__error {
    color: #ff0000;
}

.form__button {
    width: 100%;
    margin: 0 auto;
}

.form__button-submit {
    width: 100%;
    height: 50px;
    background-color: #ee5550;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    padding: 5px;
    margin: 60px 0 30px 0;
}

.link {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.link__login {
    color: blue;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__inner-logo {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .header__inner {
        padding: 0;
    }

    .header__inner-logo {
        width: 30%;
    }

    .form__title {
        font-size: 22px;
        margin: 30% 0;
    }

    .form__item {
        margin-bottom: 10%;
    }

    .form__item-title {
        font-size: 16px;
    }

    .form__item-input {
        height: 30px;
    }
}