.header {
    background: #000;
    margin-bottom: 200px;
}

.header__inner {
    padding: 1%;
}

.header__inner-logo {
    width: 20%;
}

.main {
    width: 100%;
}

.main__inner {
    width: 50%;
    margin: 0 auto;
}

.main__content{
    margin-top: 40px;
    text-align: center;
}

.main__content-item{
    font-weight: bold;
    font-size: 20px;
}

.mailhog-link{
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    background-color: #ddd;
    padding: 10px;
}

.mail__form{
    margin-top: 60px;
}

.mail__form-submit{
    border: none;
    background-color: #fff;
    color: #0075c2;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .header__inner-logo {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        margin-bottom: 100px;
    }

    .header__inner {
        padding: 0;
    }

    .header__inner-logo {
        width: 20%;
    }

    .main__content-item {
        font-size: 12px;
    }

    .mailhog-link {
        font-size: 12px;
    }

    .mail__form-submit {
        font-size: 10px;
    }
}